/* .container-fluid{
    height: 55px;
    box-sizing: border-box;
    overflow: hidden;
}

.container-fluid a img{
   height: 30%;
   width: 35%;
    mix-blend-mode: multiply;
    padding-right:100px;
    margin-right: auto;
    border: 1px solid red;
   
}
.navbar-brand{
    padding-left: 5px;
} */
/* body{
    background-color: rgb(245, 248, 251);
}

.container-fluid a {
    color: rgb(196, 242, 161)
}

.nav-link.campgrounds:active{
    color: white;
} */

